
.shadow{
	padding: 10px;
	cursor: pointer;
}
.shadow:hover{
	box-shadow: 0 2px 8px -2px gray;
	color:#ffffff;
}
.col-1{
	grid-column: 1/1;
	vertical-align: top;
}
.col-8{
	grid-column: 2/2;
	display: inline-block;
	max-width: 400px;
}
.col-3{
	grid-column: 3/3;
	display: inline-block;
	float: right;
	vertical-align: top;
	text-align: right;
}
.grid{
	display: grid;
  	grid-template-columns: 40px auto 100px;
  	font-size: small;
}

.listHeader span{
	font-size: small;
	color:gray;
	vertical-align: middle;
	margin: 20px;
}

@media(max-width:1200px){
	.grid{
		display: grid;
	  	grid-template-columns: 80px auto 200px;
	  	font-size: inherit;
	}
	.listHeader img{
		height: 60px;
	}
	.listHeader span{
		font-size: inherit;
	}
	.listHeader button{
		font-size: inherit;
	}
}